In [1]:
import numpy as np
import pandas as pd

In [34]:
data = pd.read_csv(r"C:\Users\srava\Downloads\cleaned_all_phones.csv")

In [35]:
data.head()

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0
1,K20 plus,LG,Android 7.0,5.3,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.0
2,P8 Lite (2017),Huawei,Android 7.0,5.2,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.0
3,Redmi Note 4,Xiaomi,Android 6.0,5.5,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.0
4,P10,Huawei,Android 7.0,5.1,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.0

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [37]:
data['announcement_date']=pd.to_datetime(data['announcement_date'])

In [38]:
# 1.How many unique  mobile brands are there in the data provided?

In [39]:
len(data['brand'].unique())

13

In [ ]:
# Ans: 13 mobile brands are unique

In [ ]:
#2. What is the average ram size of all the collected data?

In [40]:
data['ram(GB)'].mean()

6.6838624338624335

In [ ]:
# Ans: 6.69 is the average ram size of all the collected data.

In [ ]:
# 3.Which phone is having the maximum and minimum battery capacity?

In [41]:
data['battery'].min()

1821

In [42]:
data.loc[data['battery']==1821]

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
62,iPhone 8,Apple,iOS 11,4.7,750x1334,1821,Li-Ion,2,2017-09-12,148.0,...,True,True,False,True,True,True,True,False,False,210.0
536,iPhone SE (2020),Apple,iOS 13,4.7,750x1334,1821,Li-Ion,3,2020-04-15,148.0,...,True,True,False,True,True,True,True,False,False,189.5

In [ ]:
# Ans: iphone 8 and iphone SE(2020) are having minimum RAM capacity.

In [ ]:
#4. What is the maximum battery capacity provided by Huawei Company?

In [43]:
x = data.groupby('brand')

In [45]:
x.agg({'battery':['min','max']})

        battery
            min   max
brand
Apple      1821  4352
Google     2700  5003
Honor      3000  7250
Huawei     2200  7000
LG         2410  5000
Lenovo     3000  7000
OnePlus    3300  5000
Oppo       2900  5000
Realme     3410  6000
Samsung    1950  7000
Sony       2300  5000
Vivo       4000  6000
Xiaomi     3000  6000

In [ ]:
# Ans: 7000 is the highest RAM provided by huawei company.

In [ ]:
# 5.Which Phone brand is providing the highest and lowest ram?

In [ ]:
# Ans: Xiaomi is providing highest and lowest RAM

In [ ]:
#6. How many phones has android 7.0 as there operating system?

In [46]:
len(data.loc[data['os']=='Android 7.0'])

33

In [ ]:
# Ans: 33 phones have Android 7.0 as operating system

In [ ]:
#7. Which Phone is the oldest?

In [47]:
data['announcement_date'].min()

Timestamp('2016-09-01 00:00:00')

In [48]:
data.loc[data['announcement_date']=='2016-09-01']

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0

In [ ]:
# Ans: y6ll Compact of Huawei brand is the oldest phone.

In [ ]:
#8.Which brand produced maximum number of phone in the given data?

In [49]:
data['brand'].value_counts()

Xiaomi     264
Oppo       213
Samsung    206
Vivo       168
Realme     157
Huawei     137
Honor      124
LG          75
OnePlus     47
Lenovo      43
Sony        37
Apple       22
Google      19
Name: brand, dtype: int64

In [ ]:
# Ans: Xiaomi produced maximum number of phones.

In [ ]:
# 9.Give the count of phones supporting?
#  4k video, 8k video, 2k video

In [50]:
len(data.loc[data['video_4K']==True].value_counts()) # no. of phones supporting 4k video

801

In [51]:
len(data.loc[data['video_8K']==True].value_counts()) # no.of phones supporting 8k video

86

In [52]:
len(dt.loc[data['video_1080p']==True].value_counts()) # no.of phones support 2k video

1503

In [27]:
# Ans: 4k video : 801 phones support 4k video
#      8k video : 86 phones support 8k video
#      2k video : 1503 phones support 2k video

In [ ]:
# 10. How many phones supports Li-Po and Li-ion Battery?

In [53]:
len(data.loc[data['battery_type']== 'Li-Po']) # Li-Po battery phones

1242

In [54]:
len(data.loc[data['battery_type']=='Li-Ion']) # Li-Ion battery phones

270

In [ ]:
# Ans: 1242 phones support li-Po battery
#      270 phones support Li-Ion battery

In [ ]:
# 11. How many sony phones supports 720x1280 resolution?

In [55]:
x = data.loc[(data['brand']=='Sony')&(data['resolution']=='720x1280')]

In [56]:
x

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
5,Xperia XA1,Sony,Android 7.0,5.0,720x1280,2300,Li-Ion,3,2017-02-01,143.0,...,True,False,False,True,False,False,False,False,False,140.0
13,Xperia L1,Sony,Android 7.0,5.5,720x1280,2620,Li-Ion,2,2017-03-01,180.0,...,True,False,False,True,False,False,False,False,False,110.0
48,Xperia XZ1 Compact,Sony,Android 8.0,4.6,720x1280,2700,Li-Ion,4,2017-08-01,140.0,...,True,True,False,True,True,False,False,False,True,300.0
66,Xperia R1 (Plus),Sony,Android 7.1,5.2,720x1280,2620,Li-Ion,3,2017-10-01,154.0,...,True,False,False,True,False,False,False,False,False,168.0
93,Xperia L2,Sony,Android 7.1.1,5.5,720x1280,3300,Li-Ion,3,2018-01-01,178.0,...,True,False,False,True,False,False,False,False,False,140.0

In [ ]:
# Ans 5 sony phone supports 720 x 1280 resolution