In [2]:
import numpy as np
import pandas as pd

In [3]:
dt1 = pd.read_csv(r"C:\Users\bandr\Downloads\imdb_anime.csv")

In [4]:
dt1.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN

In [6]:
dt1=dt1.drop_duplicates()

In [14]:
dt1.fillna(0,inplace=True)

In [8]:
dt1['Runtime']=dt1['Runtime'].str.replace(',','')

In [9]:
dt1['Runtime']=dt1['Runtime'].str.replace('min','')

In [10]:
dt1['Number of Votes']=dt1['Number of Votes'].str.replace(',','')

In [11]:
dt1['User Rating'].replace({'inf':0},inplace=True)

In [12]:
dt1 = dt1.replace({'User Rating':{'User Rating':0},'Runtime':{'Runtime':0},'Gross':{'Gross':0},'Number of Votes':{'Number of Votes':0},'Metascore':{'Metascore':0},'Episode':{'Episode':0}})

In [15]:
dt1 = dt1.astype({'User Rating':np.float16,'Number of Votes':np.int32,'Gross':np.int32,'Metascore':np.float16,'Episode':np.int32,'Runtime':np.int32})

In [16]:
dt1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44843 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            44843 non-null  object
 1   Genre            44843 non-null  object
 2   User Rating      44843 non-null  float16
 3   Number of Votes  44843 non-null  int32
 4   Runtime          44843 non-null  int32
 5   Year             44843 non-null  object
 6   Summary          44843 non-null  object
 7   Stars            44843 non-null  object
 8   Certificate      44843 non-null  object
 9   Metascore        44843 non-null  float16
 10  Gross            44843 non-null  int32
 11  Episode          44843 non-null  int32
 12  Episode Title    44843 non-null  object
dtypes: float16(2), int32(4), object(7)
memory usage: 3.6+ MB

In [17]:
dt1['Number of Votes']= dt1['Number of Votes'].replace(np.inf,0)

In [15]:
# 1. How many unique anime are there?

In [18]:
len(dt1['Title'].unique())

9851

In [17]:
# Ans: 9851 unique animes are there in this data set

In [18]:
# 2. Which anime has the highest rating?

In [19]:
dt1['User Rating'].max()

9.9

In [21]:
dt1.loc[dt1['User Rating']==9.9]

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
13656,Idaten Jump,"Animation, Adventure, Comedy",9.898438,11,20,(2005–2006),0,"Dorothy Elias-Fahn,Yuri Lowenthal,Michelle Ruf...",TV-PG,0.0,11,1,X City no monban
17874,Vinland Saga,"Animation, Action, Adventure",9.898438,13663,24,(2019– ),"As the Imperial Council proceeds, Askeladd is ...","Mike Haimoto,Yûto Uemura,Naoya Uchida,David Wald",TV-MA,0.0,13663,1,End of The Prologue
22753,Attack on Titan,"Animation, Action, Adventure",9.898438,86907,24,(2013–2023),As the battle between Eren and the warriors ra...,0,TV-MA,0.0,86907,1,Assault
34677,Hunter x Hunter,"Animation, Action, Adventure",9.898438,9012,23,(2011–2014),Gon goes beyond his body limits to achieve mon...,0,TV-MA,0.0,9012,1,Anger × and × Light
39614,Legend of the Galactic Heroes,"Animation, Action, Drama",9.898438,350,32,(1988–1997),"After extermination of the Terraist remnants, ...",0,TV-MA,0.0,350,1,Dream: To See It to the End
45689,Attack on Titan,"Animation, Action, Adventure",9.898438,109163,24,(2013–2023),As Erwin's heroic charge buys Levi time to con...,0,TV-MA,0.0,109163,1,Hero

In [21]:
# Ans: Idaten jump, Vinland saga, Attack on Titan, Hunter x Hunter, Legend of the Galactic Heroes

In [22]:
# 3. Which anime has a rating between 7.0 to 9.0?

In [22]:
dt1.loc[(dt1['User Rating']>=7.0)&(dt1['User Rating']<=9.0)]

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.898438,187689,24,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0.0,187689,0,0
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.398438,28895,99,(2023),The film follows the Turtle brothers as they w...,0,PG,74.0,28895,0,0
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.101562,189108,92,(2023),A plumber named Mario travels through an under...,0,PG,46.0,189108,0,0
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.500000,82909,24,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0.0,82909,0,0
6,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",8.601562,131667,24,(2019– ),A family is attacked by demons and only two me...,"Natsuki Hanae,Zach Aguilar,Abby Trott,Akari Kitô",TV-14,0.0,131667,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45709,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",8.296875,3456,24,(2019– ),"Two demons, Tamayo and Yushiro come to Tanjiro...",0,TV-MA,0.0,3456,1,The Smell of Enchanting Blood
45710,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",8.398438,3401,24,(2019– ),"Two demons, Tamayo and Yushiro come to Tanjiro...",0,TV-MA,0.0,3401,1,Temari Demon and Arrow Demon
45711,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",8.398438,3375,24,(2019– ),With Tamayo coming to Nezuko's aid the battle ...,0,TV-MA,0.0,3375,1,Together Forever
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.300781,3432,24,(2019– ),Tanjiro heads to his next location southeast; ...,0,TV-14,0.0,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.898438,3309,24,(2019– ),Tanjiro gets separated from Zenitsu when he en...,0,TV-MA,0.0,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"

In [75]:
# Ans: 15077 animes have user rating between 7.0 to 9.0

In [76]:
# 4.Which anime has the highest and lowest runtime?

In [23]:
dt1['Runtime'].max()

1271

In [24]:
dt1.loc[dt1['Runtime']==1271]

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
2798,The Wonderful Wizard of Oz,"Animation, Adventure, Family",7.699219,331,1271,(1986–1987),When Dorothy and her little dog Toto are swept...,"Morgan Hallett,Sumi Shimamoto,Mark Denis,Yoshi...",TV-Y,0.0,331,0,0

In [25]:
dt1['Runtime'].min()

0

In [27]:
y = dt1.loc[dt1['Runtime']==dt1['Runtime'].min()]

In [28]:
len(y['Title'].unique())

2889

In [83]:
# Ans: 1.'The Wonderful Wizard of Oz' has the highest runtime.
#      2. 2889 animes has lowest runtime

In [84]:
# 5. What is the runtime difference between one Piece and the super mario bros movie?

In [29]:
x =  dt1.loc[dt1['Title']=='One Piece']

In [30]:
y = dt1.loc[dt1['Title']=='The Super Mario Bros. Movie']

In [31]:
x['Runtime']

0        24
13549    24
13550    25
13551    24
13553    24
         ..
45359     0
45373     0
45584     0
45649     0
45714     0
Name: Runtime, Length: 904, dtype: int32

In [32]:
y['Runtime']

2    92
Name: Runtime, dtype: int32

In [103]:
# Ans: 92 - 25 = 67 minutes
# 67 minutes is the runtime difference between one piece and the super mario bros movie

In [124]:
# 7.Which anime has the lowest gross price?

In [35]:
dt1['Gross'].min()

0

In [36]:
len(dt1.loc[dt1['Gross']==dt1['Gross'].min()])

20660

In [141]:
# Ans: 20660 animes have lowest gross price

In [142]:
# 7.How many anime have the PG certification?

In [37]:
len(dt1.loc[dt1['Certificate']=='PG'])

348

In [145]:
# Ans: 348 Anime has PG certification

In [146]:
# 8.What is the average number of votes in your dataset?

In [38]:
dt1['Number of Votes'].mean()

943.2429364672302

In [ ]:
# Ans: 943.25 is the average number of votes in the data set