In [1]:
import pandas as pd
import numpy as np

In [45]:
dt2 = pd.read_csv(r"C:\Users\bandr\Downloads\all_grains_data.csv")

In [46]:
dt2.head()

  ticker commodity        date    open    high     low   close  volume
0   ZC=F      Corn  2000-07-17  182.25  182.25  178.25  179.25   19385
1   ZC=F      Corn  2000-07-18  179.00  183.25  179.00  180.75   25205
2   ZC=F      Corn  2000-07-19  180.00  182.75  178.75  182.00   17126
3   ZC=F      Corn  2000-07-20  181.50  187.00  181.00  186.00   18742
4   ZC=F      Corn  2000-07-21  185.50  188.00  185.00  187.75   16814

In [47]:
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  object
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 2.1+ MB

In [48]:
dt2.describe()

               open          high           low         close         volume
count  34883.000000  34883.000000  34883.000000  34883.000000   34883.000000
mean     573.890888    579.401570    568.530326    573.880280   27606.105008
std      458.921582    463.500174    454.580653    458.949972   52347.602634
min       14.400000     14.410000     14.380000     14.380000       0.000000
25%      224.500000    226.500000    222.250000    224.250000      78.000000
50%      435.500000    439.000000    431.750000    435.750000     867.000000
75%      878.000000    886.500000    869.750000    877.125000   28293.500000
max     2435.000000   2468.500000   2400.000000   2446.000000  523849.000000

In [49]:
# 1. Which commodity was having the highest opening price for the day?

In [50]:
dt2['open'].max()

2435.0

In [51]:
dt2.loc[dt2['open']==2435]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

In [52]:
# Ans: Rough rice is having highest opening price for the day.

In [53]:
# 2.Which commodity price reached  maximum during the trading session?

In [54]:
dt2['high'].max()

2468.5

In [55]:
dt2.loc[dt2['high']==2468.5]

      ticker   commodity        date    open    high     low   close  volume
19437   ZR=F  Rough Rice  2008-04-24  2435.0  2468.5  2396.0  2396.0    1218

In [56]:
# Ans: Rough rice commodity reached maximum during trading session.

In [57]:
#3. What is the average Market's opening price for the Oat in 2010?

In [58]:
y = ((dt2['date'].str.contains('2010'))&(dt2['commodity']=='Oat'))

In [59]:
dt2.loc[y]['high'].mean()

279.51190476190476

In [21]:
# Ans: 279.5 is the average market's opening price for the oat in year 2010.

In [22]:
# 4.What is the maximum and minimum Number of contracts traded during the 2009?

In [60]:
start_date = pd.to_datetime('2009-01-01')

In [61]:
end_date = pd.to_datetime('2009-12-31')

In [62]:
dt2['date']=pd.to_datetime(dt2['date'])

In [63]:
x1 = dt2.loc[(dt2['date']>=start_date)&(dt2['date']<=end_date)]

In [64]:
x2 = x1.sort_values(by='volume',ascending=True)

In [65]:
x2

      ticker     commodity       date    open    high     low   close  volume
13896   KE=F  KC HRW Wheat 2009-12-22  516.00  519.25  510.25  517.25       0
13739   KE=F  KC HRW Wheat 2009-05-11  629.50  629.50  629.50  629.50       0
13738   KE=F  KC HRW Wheat 2009-05-08  627.00  627.00  627.00  627.00       0
13737   KE=F  KC HRW Wheat 2009-05-07  608.75  608.75  608.75  608.75       0
13736   KE=F  KC HRW Wheat 2009-05-06  593.00  595.00  591.25  601.00       0
...      ...           ...        ...     ...     ...     ...     ...     ...
2315    ZC=F          Corn 2009-11-12  392.00  398.25  382.50  390.50  186124
2313    ZC=F          Corn 2009-11-10  384.00  397.00  379.25  394.50  202202
2288    ZC=F          Corn 2009-10-06  342.00  370.00  342.00  358.25  213787
2314    ZC=F          Corn 2009-11-11  393.25  403.00  391.50  394.00  246000
2273    ZC=F          Corn 2009-09-15  317.00  347.75  316.00  346.50  252221

[1500 rows x 8 columns]

In [34]:
# Ams: 252221 is the highest no.of contracts traded during 2009.
#      0 is the lowest no.0f conracts traded during 2009.

In [37]:
# 6.Which commodity have the average lowest opening price around 2001 to 2005?

In [66]:
dt3 = (dt2['date']>='2001-01-01')&(dt2['date']<='2005-12-31')

In [67]:
dt4 = dt2.loc[dt3]

In [69]:
dt5 = dt4.groupby('commodity')

In [70]:
dt5['open'].mean()

commodity
Corn            226.167136
KC HRW Wheat    343.651033
Oat             159.646309
Rough Rice      616.746411
Soybean         594.099841
Soybean Oil      21.416110
Name: open, dtype: float64

In [71]:
# Ans : Soyabeen oil have the aaverage lowest opening price with 21.41 in the year between 2001 to 2005

In [72]:
#7. Which commodity have the best average  Market's closing price?

In [73]:
c = dt2.groupby('commodity')

In [74]:
c['close'].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64

In [75]:
# Ans: Rough rice have best average market's closing price with 1143.6

In [76]:
#8.Which year corn have the highest and lowest Number of contracts traded?

In [77]:
c['volume'].max().loc['Corn']

523849

In [78]:
dt2.loc[dt2['volume']==523849]

     ticker commodity       date    open   high     low   close  volume
4216   ZC=F      Corn 2017-06-07  378.25  387.0  378.25  384.75  523849

In [80]:
z = (dt2['commodity']=='Corn')&(dt2['volume']==0)

In [82]:
dt2.loc[z]['date']

821    2003-12-11
1328   2005-12-13
4486   2018-07-03
4528   2018-08-31
5682   2023-04-06
Name: date, dtype: datetime64[ns]

In [ ]:
# Ans: 2017-06-07 on this date corn has highest no.of contracts traded.
#      2003-12-13, 2005-12-13, 2018-07-03, 2018-08-31, 2023-04-06 on this dates corn has lowest no.of trading done.